body {
    background-image: url("./images/backgroundImg.png");
    background-position: 0px;
    background-attachment: fixed;
}

div {
    margin-right: 0;
}

.container {
    position: relative;
}

.navbar {
    background-color: #151515;
    position: relative;
    top: 0px;
    z-index: 999;
}

.navbar-collapse {
    text-align: center;
}

.nav-link {
    font-weight: bolder;
    font-size: 1.5rem;
}

.ref-links {
    justify-content: center;
}

.ref-links a {
    color: #b9b9b9;
}

.ref-links a:hover {
    color: #f9f9f9;
}

.row {
    margin-right: 0;
    margin-left: 0;
    display: flex;
    justify-content: space-around;
}

.card {
    min-width: 325px;
    font-size: small;
    opacity: .9;
}

.card hr {
    border-top: 1.5px solid #000000;
}

.card-title {
    text-align: center;
    justify-content: center;
}

.img-fluid {
    max-width: 100%;
    height: 100%;
}

.project {
    bottom: 100px;
    position: static;
    background-color: #151515;
    border-radius: 0 0 5px 5px;
    border-top: solid rgb(7, 7, 7);
}

.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-secondary {
    background-color: #151515;
    max-width: auto;
}

.footer {
    background-color: #151515;
    height: 200px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

.contact {
    min-width: 50rem;
}


.contact-button {
    width: 15rem;
}

.email-button:hover {
    background-color: #f9f9f9;
    color: #151515;
}